<div class='nested-fields well'>
  <fieldset>
    <%= f.input :awayTeamScore,
              label: Team.find(f.object.send(:awayTeamIndex)).name,
              input_html: {id: "gamescore"}  %>
    <%= f.input :homeTeamScore,
              label: Team.find(f.object.send(:homeTeamIndex)).name,
              input_html: {id: "gamescore"}  %>
  </fieldset>
</div>

