<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
Football Pool Mania is all about getting more fun out of watching football games.
Competing with your friends to see who is the best football prognosticator is what it
is all about!

This site is still under construction so please keep that in mind if you encounter any
problems.
</p>
