<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
Contact your pool administrator with problems regarding any pool related issues. 
Contact the site administrator if you have issues with the operation of this site.
</p>


