<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= image_tag(attachments['fbpm_logo.png'].url, class: "img-rounded") %>

    <p>Before you can use your account you need to confirm your user account, click the URL below.
       to confirm.</p>

    <p><%= link_to "Confirm user account", confirm_url(@user.confirmation_token) %></p>

  </body>
</html>
