<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= image_tag(attachments['fbpm_logo.png'].url, class: "img-rounded") %>
    <h3>Message from Pool Administrator for Pool: <%= link_to @pool.name, pool_url(@pool) %></h3>
    <% paragraphs = @msg.split("\n") %>
    <% paragraphs.each do |paragraph| %>
      <p><%= paragraph %></p>
    <% end %>
    <p>Thanks, Pool Administrator</p>
  </body>
</html>