You've been invited to join an 'NFL Survivor' pool!</h3>

This is a Survivor pool, the rules of the pool are listed below. Click this link:
<<%= pool_url(@pool) %>>  if you wish to join the pool!  Feel free to invite friends
who you think might also be interested in joining the pool!

Survivor Football Pool Rules:

  1. You must pick 1 NFL team prior to the ‘deadline’ each week, whichever team you feel
     will win their game (no spreads).  You can pick each team only 1 time during the
     duration of the contest (you can’t pick the same team twice).

  2. If the team you pick loses then that entry is eliminated from the contest.

  3. The deadline for your picks each week is before kickoff of the first game.  If your pick
     is not received prior to the ‘deadline’ you are automatically eliminated from the contest,
     no exceptions.

Message from Pool Administrator for Pool: <%= @pool.name %>

<%= @msg %>

Thanks, Pool Administrator