
.awayTeamWon {
  width: "35%";
  text-align: right;
  font-size: 14px;
}

.awayScoreWon {
  width: "10%";
  text-align: right;
  font-size: 14px;
}

.awayTeamLost {
  width: "35%";
  text-align: right;
  font-size: 14px;
}

.awayScoreLost {
  width: "10%";
  text-align: right;
  font-size: 14px;
}

.homeTeamWon {
  width: "35%";
  text-align: left;
  font-size: 14px;
}

.homeScoreWon {
  width: "10%";
  text-align: left;
  font-size: 14px;
}

.homeTeamLost {
  width: "35%";
  text-align: left;
  font-size: 14px;
}

.homeScoreLost {
  width: "10%";
  text-align: left;
  font-size: 14px;
}

.gameDescriptor {
  width: "20%";
  text-align: center;
  font-size: 8px;
}

.gameDate {
  width: "5%";
  text-align: left;
  font-size: 14px;
  font-weight: bold;
}

.gameTime {
  width: "5%";
  text-align: left;
  font-size: 12px;
}